.DS_Store
.idea/
/cmake-build-debug/
/cmake-linux-debug/
/cmake-linux-release/
/cmake-osx-debug/
/make-linux-debug/

run-sdss.0921.base1/levels.txt

run-sdss.0921.base1/sample.txt

run-sdss.0921.base1/sample_info.txt
